#
# Focaltech Touchscreen driver configuration
#

config TOUCHSCREEN_FTS_SPI
    tristate "Focaltech Touchscreen FT8201P"
    default m
    help
      Say Y here if you have Focaltech touch panel.
      If unsure, say N.
